
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=vYDmDv9//8hayuE0a2c5xA==,IkbFwcCpOMN1B0qIlZBN/w==,RNnEDdMaM6FkV1AEiFbdKw==,+2FF+Qkg8VQu8wtOEcVX1Q==
API_TOKEN_SALT=jkn3vPMhK2iDuojYpmdYLg==
ADMIN_JWT_SECRET=5IUItLWbkGmIENE2abY8ZA==
TRANSFER_TOKEN_SALT=+UBoKTaS10IQpkfGQ2jcUg==
ENCRYPTION_KEY=bp7jXEW61I7lywCT7CmJUg==

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=indno1_admin
DATABASE_USERNAME=root
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=ARtDZVqGT8c7uj4RsqZ18Q==
